defaults: &defaults
  email: info@example.com

development:
  <<: *defaults
  email: me@example.com

vagrant:
  <<: *defaults
  user: vagrant
  port: 2222

test:
  <<: *defaults
  email: test@example.com

staging:
  <<: *defaults

production:
  <<: *defaults